publicador_casa.json
[
    {
        "id": "cb8d84c46c16201a",
        "type": "tab",
        "label": "Publicador Casa Automatizada",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4265b59324b686f0",
        "type": "function",
        "z": "cb8d84c46c16201a",
        "name": "",
        "func": "\nreturn{\n    payload:msg.payload.weather\n\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 80,
        "wires": [
            [
                "071c84d519b44e66"
            ]
        ]
    },
    {
        "id": "81c9b847761894a0",
        "type": "openweathermap",
        "z": "cb8d84c46c16201a",
        "name": "",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "Alicante",
        "country": "Spain",
        "language": "en",
        "x": 300,
        "y": 180,
        "wires": [
            [
                "4265b59324b686f0",
                "f1cc7ba6bc06666a",
                "140803fb95ac5575",
                "5492117f70f1a5d0",
                "c4d9f690658c215f",
                "5f81ff15d2303ac7",
                "7c6f38372c7efd5e",
                "fe8a7e3e705cae0d",
                "f021eba7ec3862c0",
                "ddf89dc3d5c2d298",
                "74d508b973abf016"
            ]
        ]
    },
    {
        "id": "32534bb124a1e333",
        "type": "inject",
        "z": "cb8d84c46c16201a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "81c9b847761894a0"
            ]
        ]
    },
    {
        "id": "f1cc7ba6bc06666a",
        "type": "function",
        "z": "cb8d84c46c16201a",
        "name": "",
        "func": "\nreturn{\n    payload:msg.payload.temp_maxc\n\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 160,
        "wires": [
            [
                "9bedf5e3571683e6"
            ]
        ]
    },
    {
        "id": "140803fb95ac5575",
        "type": "function",
        "z": "cb8d84c46c16201a",
        "name": "",
        "func": "\nreturn{\n    payload:msg.payload.humidity\n\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 240,
        "wires": [
            [
                "1f53307205b7a532"
            ]
        ]
    },
    {
        "id": "071c84d519b44e66",
        "type": "mqtt out",
        "z": "cb8d84c46c16201a",
        "name": "",
        "topic": "mqtt/Openweather/Prediccion",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "940ea05ce51ad329",
        "x": 850,
        "y": 80,
        "wires": []
    },
    {
        "id": "3432604204d00e60",
        "type": "mqtt out",
        "z": "cb8d84c46c16201a",
        "name": "",
        "topic": "mqtt/Openweather/Temperatura",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "940ea05ce51ad329",
        "x": 850,
        "y": 120,
        "wires": []
    },
    {
        "id": "9bedf5e3571683e6",
        "type": "mqtt out",
        "z": "cb8d84c46c16201a",
        "name": "",
        "topic": "mqtt/Openweather/Temp_maximas",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "940ea05ce51ad329",
        "x": 860,
        "y": 160,
        "wires": []
    },
    {
        "id": "89409bdc162408b2",
        "type": "mqtt out",
        "z": "cb8d84c46c16201a",
        "name": "",
        "topic": "mqtt/Openweather/Temp_minimas",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "940ea05ce51ad329",
        "x": 860,
        "y": 200,
        "wires": []
    },
    {
        "id": "1f53307205b7a532",
        "type": "mqtt out",
        "z": "cb8d84c46c16201a",
        "name": "",
        "topic": "mqtt/Openweather/Humedad",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "940ea05ce51ad329",
        "x": 840,
        "y": 240,
        "wires": []
    },
    {
        "id": "ffe3b173b1c75a57",
        "type": "mqtt out",
        "z": "cb8d84c46c16201a",
        "name": "",
        "topic": "mqtt/Openweather/Velocidad_Viento",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "940ea05ce51ad329",
        "x": 870,
        "y": 280,
        "wires": []
    },
    {
        "id": "5492117f70f1a5d0",
        "type": "function",
        "z": "cb8d84c46c16201a",
        "name": "",
        "func": "\nreturn{\n    payload:msg.payload.tempc\n\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 120,
        "wires": [
            [
                "3432604204d00e60"
            ]
        ]
    },
    {
        "id": "c4d9f690658c215f",
        "type": "function",
        "z": "cb8d84c46c16201a",
        "name": "",
        "func": "\nreturn{\n    payload:msg.payload.temp_minc\n\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 200,
        "wires": [
            [
                "89409bdc162408b2"
            ]
        ]
    },
    {
        "id": "5f81ff15d2303ac7",
        "type": "function",
        "z": "cb8d84c46c16201a",
        "name": "",
        "func": "\nreturn{\n    payload:msg.payload.windspeed\n\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 280,
        "wires": [
            [
                "ffe3b173b1c75a57"
            ]
        ]
    },
    {
        "id": "7c6f38372c7efd5e",
        "type": "function",
        "z": "cb8d84c46c16201a",
        "name": "",
        "func": "\nreturn{\n    payload:msg.payload.sunrise\n\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 320,
        "wires": [
            [
                "af19999d6860e5c1"
            ]
        ]
    },
    {
        "id": "fe8a7e3e705cae0d",
        "type": "function",
        "z": "cb8d84c46c16201a",
        "name": "",
        "func": "\nreturn{\n    payload:msg.payload.sunset\n\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 360,
        "wires": [
            [
                "15c1ebec8f2b533c"
            ]
        ]
    },
    {
        "id": "af19999d6860e5c1",
        "type": "mqtt out",
        "z": "cb8d84c46c16201a",
        "name": "",
        "topic": "mqtt/Openweather/Amanecer",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "940ea05ce51ad329",
        "x": 840,
        "y": 320,
        "wires": []
    },
    {
        "id": "15c1ebec8f2b533c",
        "type": "mqtt out",
        "z": "cb8d84c46c16201a",
        "name": "",
        "topic": "mqtt/Openweather/Anochecer",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "940ea05ce51ad329",
        "x": 850,
        "y": 360,
        "wires": []
    },
    {
        "id": "f021eba7ec3862c0",
        "type": "function",
        "z": "cb8d84c46c16201a",
        "name": "Data",
        "func": "\nreturn{\n    payload:{\n        tempC: msg.payload.tempc,\n        max : msg.payload.temp_maxc,\n        min : msg.payload.temp_minc,\n        humid : msg.payload.humidity,\n        wind : msg.payload.windspeed\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 540,
        "wires": [
            [
                "954231fd9b0540d1"
            ]
        ]
    },
    {
        "id": "0ea09669421a9f0b",
        "type": "ubidots_out",
        "z": "cb8d84c46c16201a",
        "name": "",
        "token": "BBFF-wOzGmHvJlbTYLj8i0LBJ89VTEtdVWU",
        "label_device": "",
        "device_label": "practica2",
        "tier": "business",
        "tls_checkbox": true,
        "x": 970,
        "y": 600,
        "wires": []
    },
    {
        "id": "ddf89dc3d5c2d298",
        "type": "debug",
        "z": "cb8d84c46c16201a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 60,
        "wires": []
    },
    {
        "id": "5e9128118de076b6",
        "type": "function",
        "z": "cb8d84c46c16201a",
        "name": "",
        "func": "\nuser_api = 'a5898c80ec7250a9d0ae85cf8ef2fca6' \napi = 'api.openweathermap.org/geo/1.0/direct?q='  \nmsg.url = api + msg.payload + '&limit=5&appid=' + user_api \n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 600,
        "wires": [
            [
                "9c5a0e3acfe3061a"
            ]
        ]
    },
    {
        "id": "98d4738f598811c6",
        "type": "function",
        "z": "cb8d84c46c16201a",
        "name": "Coordinates",
        "func": "\nreturn{\n    payload:{\n        position: {\n            lng: msg.payload[0].lon,\n            lat: msg.payload[0].lat\n        }\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 600,
        "wires": [
            [
                "954231fd9b0540d1"
            ]
        ]
    },
    {
        "id": "9c5a0e3acfe3061a",
        "type": "http request",
        "z": "cb8d84c46c16201a",
        "name": "Geocoding",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 450,
        "y": 600,
        "wires": [
            [
                "98d4738f598811c6"
            ]
        ]
    },
    {
        "id": "74d508b973abf016",
        "type": "function",
        "z": "cb8d84c46c16201a",
        "name": "",
        "func": "\nreturn{\n    payload:msg.payload.location\n\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 600,
        "wires": [
            [
                "5e9128118de076b6"
            ]
        ]
    },
    {
        "id": "954231fd9b0540d1",
        "type": "join",
        "z": "cb8d84c46c16201a",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 790,
        "y": 600,
        "wires": [
            [
                "0ea09669421a9f0b"
            ]
        ]
    },
    {
        "id": "940ea05ce51ad329",
        "type": "mqtt-broker",
        "name": "",
        "broker": "127.0.0.1 ",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]